streamlit==1.45.1
pandas==2.2.3
numpy==2.2.6
matplotlib==3.10.3
altair==5.5.0
plotly==6.1.1
opencv-python-headless==4.11.0.86
streamlit-webrtc==0.62.4
qrcode==8.2
pyzbar==0.1.9
pydeck==0.9.1
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

